/* <!-- Name : Kailash Dhakal
Major : Master's in Computer Science
Assignment CSC 635
Description of the Assignment :
write the Javascript to prompt the user to provide input of the container 
Width, Height, depth, 
Calculate the volume, surface area, he program then prints all values (width, height, depth, volume, surface area, length of edges, weight of water at 90° Celsius) using easy to read formatting (a table) as well as units (g, kg, mm/cm/m, mm^2 or cm^2 or m^2, mm^3 or cm^3 or m^3, etc) in the client area of your Web browser.
Comments/documentation and formatting of the program/source code. Additionally, provide this assignment write-up, your name, and CSC concentration in the comments as well as in the browser's client area.
 Format/round all calculations to two decimals (i.e., 12.34536 results in 12.35).
 Format the output neatly using an external CSS file.
Provide hyperlinks to your files like you did before (*.css, *.js, *.html → *.txt) --> */
/* <!-- Instruction to run the code:
Please run the index.html file it will prompt to provide the input.
After providing the inputs reult will be display in table format in webpage.  --> */

/* Simple style for the both tables with auto margin which can be change accordingly */

table{
	border-collapse: collapse;
	width: 400px;
	margin: auto;
	
}

td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}



